{% macro pagination_widget(pagination,endpoint) %}
    {# 如果是第一页，加上disabled类 #}
    {#<ul>#}
    {#    <li{% if not pagination.has_prev %} class="disabled"{% endif %}>#}
    {#    <a href="{% if pagination.has_prev %}{{ url_for(endpoint,page = pagination.prev_num,**kwargs) }}{% else %}#{% endif %}">#}
    {#        &laquo;#}
    {#    </a>#}
    {#     iter_pages() 迭代器返回的所有页面链接 #}
    {#    {% for p in pagination.iter_pages() %}#}
    {#        {% if p %}#}
    {#            {% if p==pagination.page %}#}
    {#                <li class="active">#}
    {#                     页数在url_for() 的参数中指定 #}
    {#                    <a href="{{ url_for(endpoint,page=p,**kwargs) }}">{{ p }}</a>#}
    {#                </li>#}
    {#            {% else %}#}
    {#                <li>#}
    {#                    <a href="{{ url_for(endpoint,page=p,**kwargs) }}">{{ p }}</a>#}
    {#                </li>#}
    {#            {% endif %}#}
    {#        {% else %}#}
    {#            <li class="disabled"><a href="#">&hellip;</a></li>#}
    {#        {% endif %}#}
    {#    {% endfor %}#}
    {#     如果当前页是最后一页，则会禁用这个链接 #}
    {#    <li{% if not pagination.has_next %} class="disabled"{% endif %}>#}
    {#        <a href="{% if pagination.has_next %}{{ url_for(endpoint,page = pagination.next_num,**kwargs) }}{% else %}#{% endif %}">&raquo;</a>#}
    {#    </li>#}
    {#</li>#}
    {#</ul>#}
    {% if pagination.pages > 1 %}
        <table>
            <tr{% if not pagination.has_prev %} class="disabled"{% endif %}>
                <td>
                    <a href="
                            {% if pagination.has_prev %}{{ url_for(endpoint,page = pagination.prev_num,**kwargs) }}{% else %}#{% endif %}">
                        上一页
                    </a>&nbsp;
                </td>

                {% for p in pagination.iter_pages() %}
                    <td>
                        {% if p %}
                            {% if p==pagination.page %}
                                <li class="active" style="list-style-type:none;">
                                    <a href="{{ url_for(endpoint,page=p,**kwargs) }}">{{ p }}</a>&nbsp;
                                </li>
                            {% else %}
                                <li style="list-style-type:none;">
                                    <a href="{{ url_for(endpoint,page=p,**kwargs) }}">{{ p }}</a>&nbsp;
                                </li>
                            {% endif %}
                        {% else %}
                            <li class="disabled" style="list-style-type:none;"><a href="#">&hellip;</a>&nbsp;</li>
                        {% endif %}
                    </td>
                {% endfor %}
                <td{% if not pagination.has_next %} class="disabled"{% endif %}>
                    <a href="
                            {% if pagination.has_next %}{{ url_for(endpoint,page = pagination.next_num,**kwargs) }}{% else %}#{% endif %}">下一页</a>
                </td>
            </tr>
        </table>
    {% endif %}
{% endmacro %}
