{% extends "zhuye.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_message_board.html" as messageBoard %}
{% block content %}
    {#    {% if get_flashed_messages() %}#}
    {#        {% for message in get_flashed_messages() %}#}
    {#            {{ message }}#}
    {#        {% endfor %}#}
    {#    {% endif %}#}
    {# 如果用户以登录并且已认证 #}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            {% if current_user.is_authenticated() and renzheng %}
                {{ wtf.quick_form(form) }}
            {% endif %}
            <br><br>
            {# 如果留言板数据库例的留言行数不是0 并且pagination有值 #}
            {% if count>0 %}
                {% for message_board in pagination.items %}
                    {% if current_user.is_administrator() %}
                        <a href="{{ url_for('auth.delete_liuyan',liuyan_id=message_board.id) }}">删除</a>
                    {% endif %}<br>
                    用户：{{ message_board.username }}<br>
                    留言：{{ message_board.txt }}<br><br>
                {% endfor %}

{#                <div style="position: fixed;bottom: 0;">#}
                    <div class="pagination">
                        {{ messageBoard.pagination_widget(pagination,'auth.liuyan') }}
                    </div>
{#                </div>#}
            {% elif count==0 %}
                还没有任何人留言
            {% endif %}
            <br>
            {% if not current_user.is_authenticated() %}
                登录后的已认证账户可写留言
            {% endif %}
            {% if current_user.is_authenticated() and not renzheng %}
                账户需要认证才可留言
            {% endif %}
        </div>
        <div class="col-md-1">
        </div>
    </div>
{% endblock content %}