{% extends "zhuye.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_comments.html" as comments %}

{% block content %}
{#    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.js"></script>#}
{#    <script>#}
{#        $(document).ready(function () {#}
{#            $('#reply').click(function () {#}
{#                $('#ReplyDiv').css('display', 'block');#}
{#                $('#reply').css('display', 'none')#}
{#                $('#no_reply').css('display', 'block')#}
{#            });#}
{#            $('#no_reply').click(function () {#}
{#                $('#ReplyDiv').css('display', 'none');#}
{#                $('#reply').css('display', 'block')#}
{#                $('#no_reply').css('display', 'none')#}
{#            });#}
{#        });#}
{#    </script>#}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            {% if current_user.is_authenticated() and current_user.is_administrator() %}
                <a href="{{ url_for('main.edit',id=rizhi.id) }}">编辑文章</a><br>
            {% endif %}
            标题：{{ rizhi.title }}<br><br>
            内容：{{ rizhi.txt }}<br><br>

            {#    {% if pagination %}#}
            {#        <div>#}
            {#            {{ macros.pagination_widget(pagination,'main.rizhi') }}#}
            {#        </div>#}
            {#    {% endif %}#}

            {% if current_user.can(Permission.COMMENT) %}
                {{ wtf.quick_form(form) }}
            {% endif %}<br><br>

            {% for comment in pagination.items %}
                {% if current_user.is_authenticated() and current_user.is_administrator() %}
                    <a href="{{ url_for('auth.delete_comment',comment_id=comment.id,post_id=comment.post_id) }}">删除</a>
                    <br>
                {% endif %}
                用户：{{ comment.username }}<br>
                评论：{{ comment.body }}<br>
{#                这是当前评论的主键id：{{ comment.id }}#}

                {#                <a href="#"><span id="reply" style="display: block;">回复</span></a>#}
                {#                <a href="#"><span id="no_reply" style="display: none;">取消回复</span></a>#}
                {#                <div id="ReplyDiv" style="display:none">#}
                {# auth.add_comment_to_comment',rizhi_id=rizhi.id,comment_id=comment.id #}
                {#                    <form action="/comments_to_comment/{{ rizhi.id }}/{{ comment.id }}/{{ current_user.username }}/{{ comment.username }}" method="post">#}
                {#                        <textarea name="txt" rows="5" cols="80"  id="txt"></textarea><br>#}
                {#                        <input type="submit" value="提交"/>#}
                {#                    </form>#}
                {#                </div>#}
                <br><br>
            {% endfor %}
            {#            <div style="position: fixed;bottom: 0;">#}
            {% if pagination %}
                <div class="pagination">
                    {{ comments.pagination_widget(pagination,'main.rizhi',id=id) }}
                </div>
            {% endif %}
            {#            </div>#}
        </div>
        <div class="col-md-1">
        </div>
    </div>
{% endblock content %}